#heading {
    font-size: 40px;
    text-align: center;
}
table {
    height: 78px;
    width: 389px;
    margin-left: 384px;
}
body {
    background-image: url(../images/dust_scratches.png);
    font-family: 'Harmattan', sans-serif;
}

nav {
    background-image: url(../images/dust_scratches.png);
}
.brand-logo {
    font-family: 'Fredericka the Great', cursive;
    margin-left: 20px;
}

#nav-mobile {
    margin-right: 20px;
}

.navItem {
    font-size: 20px;
}




/* this is for the menu items on mobile slide navigation */
/* I can only get the font size to change if I use !imporant */
.mobileNav {
    font-size: 20px !important;
}

#heading {
    margin: 50px auto 50px auto;
}

table {
    margin: auto;
    padding: 50px;
}

input {
    height: 3rem;
    border: 1px solid #1a237e;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

select {
    border: 1px solid #1a237e;
}

/* iPhone 5/SE */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .brand-logo {
        font-size: 20px !important;
        margin: auto;
    }

    #heading {
        margin: 25px auto;
        font-size: 30px;
    }
    
    table {
    width: 90%;
    }
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .brand-logo {
        font-size: 20px;
        margin: auto;
  }

  #heading {
    margin: 25px auto;
    }

}