#heading {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
}
#grid-container {
    grid-gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    padding: 10px;
    padding-top: 60px;
    padding-left: 30px;
}
#grid-item {
    background-color: #2F4F4F;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 50px;
    font-size: 150px;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 180px;
    padding-right: 120px;
    padding-left: 100px;
}
#grid-item2 {
    background-color: #2F4F4F;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 50px;
    font-size: 150px;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 180px;
    padding-right: 120px;
    padding-left: 100px;
}
