body {
    background-image: url(../images/dust_scratches.png);
    font-family: 'Harmattan', sans-serif;
    color:#1a237e;
}

#landingHeader {
    margin: 50px auto 30px auto;
    width: auto;
}

.headerContainer {
    /* border: 1px solid; */
    width: fit-content;
    margin: auto;
}

#headTop {
    font-size: 20px;
    font-style: italic;
}

#headBottom {
    font-family: 'Fredericka the Great', cursive;
    font-size: 50px;
    margin-top: 3px;
}

.imageContainer {
    text-align: center;
}

#skyline {
    width: 50%;
}

#searchContainer {
    /* border: 1px solid; */
    text-align: center;
    margin: 25px auto;
}

#searchLabel {
    font-size: 22px;
}

#searchText {
    margin: 10px 0px;
    border-radius: 2px;
    height: 30px;
    width: 150px;
    text-align: center;
    font-size: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

#submit {
    border-radius: 3px;
    font-size: 15px;
    height: 35px;
    width: 65px;
    background-color: #1a237e;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

/* iPhone 5/SE */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #landingHeader {
        margin-top: 75px;
    }

    .headerContainer {
    text-align: center;
    }    

    #searchContainer {
        margin-top: 100px;
    }

    #searchLabel {
        font-size: 20px;
    }
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .headerContainer {
        text-align: center;
    }    

    #landingHeader {
        margin: 50px;
    }

    #searchContainer {
        margin: 50px;
    }

    #headTop {
        font-size: 18px;
        text-align: left;
    }

    #headBottom {
        font-size: 40px;
    }

    #searchLabel {
        font-size: 20px;
    }
}

/* iPhone 6/7/8 */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .headerContainer {
        text-align: center !important;
    }    

    #searchContainer {
        margin-top: 100px;
    }

    #searchLabel {
        font-size: 20px;
    }
}


@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .headerContainer {
        text-align: center !important;
    }    


    #landingHeader {
        margin: 65px 50px;
    }

    #headTop {
        font-size: 18px;
        text-align: left;
    }

    #headBottom {
        font-size: 40px;
    }

    #searchContainer {
        margin: 50px;
    }

    #searchLabel {
        font-size: 20px;
    }
}

/* iPhone 6/7/8 Plus */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    #headTop {
        font-size: 18px;
        text-align: left;
    }
}

@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    #headTop {
        font-size: 18px;
        text-align: left;
    }

    #searchContainer {
        margin: 70px;
    }
}

/* iPhone X  */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
}

@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    #searchContainer {
        margin: 70px;
    }
}

/* iPad 1/2/Mini/Air */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1)
  and (orientation: portrait) {
    #landingHeader {
        margin: 100px 50px;
    }

    #headTop {
        font-size: 30px;
        text-align: left;
    }

    #headBottom {
        font-size: 70px;
    }

    #searchLabel {
        font-size: 30px;
    }

    #submit {

    }

}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1)
  and (orientation: landscape) {
    #landingHeader {
        margin: 100px 50px;
    }

    #headTop {
        font-size: 30px;
        text-align: left;
    }

    #headBottom {
        font-size: 70px;
    }

    #searchLabel {
        font-size: 30px;
    }

    #submit {

    }
}